<div className="form_outer">
  <div class="form_background">
    <div class="topColor"></div>
    <div class="bottomColor"></div>
  </div>

  <div class="deactivate">
    <%= button_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete%>
  </div>

  <section class="login_form">
    <h2>EDIT <%= resource_name.to_s.humanize.upcase %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form login", method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :name, autofocus: true, placeholder: 'NAME', class: "field" %>

      <%= f.email_field :email, autofocus: true, placeholder: 'EMAIL', class: "field"  %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :password, autocomplete: "off", placeholder: "NEW PASSWORD (#{@minimum_password_length} characters minimum)", class: "field"  %>

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'CONFIRM PASSWORD CHANGE', class: "field" %>

      <div class="social-media">
        <div class="media field">
          <%= image_tag '/twitter.svg', class: 'twitter' %>
          <% if current_user.services.twitter.any? %>
            Connected
          <% else %>
            <a href="<%= user_twitter_omniauth_authorize_path %>" class="media-container">
              <span class="link-media">Link your Twitter</span>
            </a>
          <% end %>
        </div>

        <div class="media field">
          <%= image_tag '/facebook.svg', class: 'facebook' %>
          <% if current_user.services.facebook.any? %>
            Connected
          <% else %>
            <a href="<%= user_facebook_omniauth_authorize_path %>" class="media-container">
              <span class="link-media">Link your Facebook</span>
            </a>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Save Changes" %>
      </div>
    <% end %>

  </section>
</div>
