<div className="form_outer">
  <div class="form_background">
    <div class="topColor"></div>
    <div class="bottomColor"></div>
  </div>

  <section class="login_form">
    <h2>SIGN UP</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "login") do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :name, autofocus: true, placeholder: 'NAME', class: "field" %>
      <%= f.email_field :email, autofocus: true, placeholder: 'EMAIL', class: "field" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "PASSWORD (#{@minimum_password_length} characters minimum)", class: "field" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'PASSWORD CONFIRMATION', class: "field" %>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </section>

</div>
