<h2>Create new story</h2>

<%= form_for @story do |f| %>

  <p>
    <input id="pac-input" type="text" placeholder="Search Box" style="width:400px;">
  </p>

  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Create Story" %>
  </p>


<% end %>

<script>
const autocompleteFormField = document.getElementById(`pac-input`);

const autocomplete = new google.maps.places.Autocomplete((autocompleteFormField), {
  types: [`address`]
  //componentRestrictions: [`us`]
});

</script>
