<div className="form_outer">
  <div class="form_background">
    <div class="topColor"></div>
    <div class="bottomColor"></div>
  </div>

<section class="login_form">
  <h2>NEW STORY</h2>
  <%= form_for @story, class: "story_form" do |f| %>
    <%= text_field_tag :address, '', id: "address", type: "text", placeholder: "LOCATION", class: "field" %>
    <%= f.file_field :image, placeholder:"IMAGE", class: "field" %>
    <%= f.hidden_field :latitude , id: 'lat'%>
    <%= f.hidden_field :longitude , id: 'lon'%>
    <%= f.text_area :content, placeholder:"CONTENT", class: "field" %>

    <% if twitter? %>
      <div class="media field">
        <%= f.check_box :twitter, class: 'twitter'%> <span class="link-media">Post to Twitter</span>
      </div>
    <% end %>

    <% if facebook? %>
      <div class="media field">
        <%= f.check_box :facebook, class: 'facebook' %> <span class="link-media">Post to Facebook</span>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Create Story" %>
    </div>
  <% end %>
</section>

<script>
  //select address field
  const autocompleteFormField = document.getElementById(`address`);

  //
  const autocomplete = new google.maps.places.Autocomplete((autocompleteFormField), {
    types: [`address`]
    //componentRestrictions: [`us`]
  });

  //get selected place from the autocomplete list and insert them in the form
  autocomplete.addListener('place_changed', function() {

    //get selected location
    var place = autocomplete.getPlace();

    //extract geotags from location
    var latitude = place.geometry.location.lat();
    var longitude = place.geometry.location.lng();

    //insert latitude and longitude to form input fields
    document.querySelector('#lat').value = latitude;
    document.querySelector('#lon').value = longitude;
  });
</script>
