<!DOCTYPE html>
<html>
  <head>
    <title>Watspoppin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'watspoppin-bundle' %>

    <link href='https://fonts.googleapis.com/css?family=Barlow+Condensed:300|Sedgwick+Ave' rel='stylesheet'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
